.d-block{
    height: 90vh;
}

h3{
    background-color: black;
    border-radius: 40px;
}

.card{
    margin-top: 30%;
}

.col-md-3{
    margin-left: 80px;
}

.footer{
    display: flex;
    width: 100%;
    background-color: blue;
    margin-top: 30px;
    border-top-left-radius: 40px;
}
.foot-link{
    text-decoration: none;
    color:white;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 2rem;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}
.foot-link:hover{
    color: orange;
}
i{
    padding-right: 10px;
}

